extends layout

append head
  //- add page specific styles by appending to the head
  link(rel="stylesheet" href="/stylesheets/application.css")
  //- add page specific js
  script(src="/javascripts/application.js" type="module" defer)

block content
  h1= title
  p Welcome to your Project Skeleton application page
  div(id='applicationPageContainer')
    div(id='navbarLeft')
      label(for='inboxDropDown') Inbox 📮
      select(id='inboxDropDown')
        option(id='allTaskList') All Tasks
        option(id='todayList') Today
        option(id='tomorrowList') Tomorrow
        option(id='weekList') This Week
        option(id='trashList') Trash
      br

      label(for='inboxDropDown') Lists 📃
      div(id='sadfasd')
        select(id='listLists' innerText='list')
          option() asdfasdfdsafsadsf
        button(id='addListBtn' innerText='Add') Add
      input(type='hidden' id='addListInput' placeholder='Add List')
          //- This is for the user to add *Build in the End*
      br

    div(id='tasksPage')
      //- img(src='./blahBlahBlah')
      button(id='logoutBtn') Sign Out
      form(action='/application' method='post')
      //- search(id='searchTask')
      button(id='incompleteBtn') Incomplete 
      button(id='completeBtn') Completed 
      br
      input(id='addTaskInput' required) 
      button(id='addTaskBtn') Add Task 

      div(id='taskDisplay')
        //- input(type='checkbox' name='task' checked) 
      div(id='editTaskForm')
        input(type= 'text' id='taskRenameInputField' placeholder= 'Rename Tasks' required)
        div(id='cancelSubmit')
        button(id='cancelButton' type="button") Cancel
        button(id='submitButton' type="button") Submit

      br
    div(id='listSummaryPage')
      textarea(id='currListName' placeholder= 'listCategory')

