extends layout

append head
  //- add page specific styles by appending to the head
  link(rel="stylesheet" href="/stylesheets/application.css")
  //- add page specific js
  script(src="/javascripts/application.js" type="module" defer)

block content
  h1= title
  p Welcome to your Project Skeleton application page
  div(id='applicationPageContainer')
    div(id='navbarLeft')
      label(for='inboxDropDown') Inbox 📮
      select(id='inboxDropDown')
        option(id='allTaskList') All Tasks
        option(id='todayList') Today
        option(id='tomorrowList') Tomorrow
        option(id='weekList') This Week
        option(id='trashList') Trash
      br

      label(for='inboxDropDown') Lists 📃
      div(id='sadfasd')
        select(id='listLists' innerText='list')
          option() asdfasdfdsafsadsf
        button(id='addListBtn' innerText='Add') Add
      input(type='hidden' id='addListInput' placeholder='Add List')
          //- This is for the user to add *Build in the End*
      br

    div(id='tasksPage')
      //- img(src='./blahBlahBlah')
      button(id='logoutBtn') Sign Out
      form(action='/application' method='post')
      //- search(id='searchTask')
      button(id='incompleteBtn') Incomplete 
      button(id='completeBtn') Completed 
      br
      form(action="/addTask" method="post")
        input(type='hidden' name='_csrf' value=csrfToken)
        input(type='hidden' name='userId' value=locals.user.id)
        input(type='text' name='name' id='addTaskInput' required) 
        select(name="listId" required)
          each list in lists
            option(name="listId" id='optionListName' value=list.id)= list.name
        button(id='addTaskBtn' type="submit") Add Task 

      div(id='taskDisplay')
        //- if tasks
        //- ul 
        //-   each list in lists
        //-     li= list.Task.name 
        //- FIX CHECKBOX FOR CREATING A TASK
      div(id='editTaskForm')
        input(type= 'text' id='taskRenameInputField' placeholder= 'Rename Tasks' required)
        input(id='checkbox' name='task' checked) 
        div(id='cancelSubmit')
        //- button(id='cancelButton' type="button") Cancel
        //- button(id='submitButton' type="button") Submit

      br
    div(id='listSummaryPage')
      textarea(id='currListName' placeholder= 'listCategory')

