extends layout

append head
  //- add page specific styles by appending to the head
  link(rel="stylesheet" href="/stylesheets/signUp.css")
  //- add page specific js
  script(src="/javascripts/signUp.js" type="module" defer)

block content
  h1= title
  p Welcome to your Project Skeleton signUp page
