extends layout

append head
  //- add page specific styles by appending to the head
  link(rel="stylesheet" href="/stylesheets/splash.css")
  //- add page specific js
  script(src="/javascripts/splash.js" type="module" defer)

include utils.pug

block content
  h1= title
  div(id="everythingSplash")
    div(id="splashImage")
      img(src="/img/happy-milk.jpg")
    div(id="theBox")
      div(id="welcomeBox")
        label(for="splashText" id="welcomeText") Welcome to Member the Milk! You are currently logged out!
    //script functionality has to be added with
    // onclick to redirect for both bubttons
    div(id="loginInfo")
      button(id="loginBtn") Log In
      button(id="signUpBtn") Sign Up