body {
  background-color: green;
}

#applicationPageContainer {
  display: grid;
  grid-template-columns: 1fr 2fr 2fr;
}

#navbarLeft {
  border-color: brown;
  background-color: aqua;
  display: flex;
  flex-direction: column;

}

#tasksPage {
  background-color: aquamarine;
}

#listSummaryPage {
  background-color: blanchedalmond;
}

#editTaskForm {
  visibility: hidden;
  display: flex;
  align-items: center;
}

/* #cancelButton {
  
}

#submitButton {
  
} */

#cancelSubmit {
  display: flex;
  justify-content: space-evenly;
}