extends layout

append head
  //- add page specific styles by appending to the head
  link(rel="stylesheet" href="/stylesheets/splash.css")
  //- add page specific js
  script(src="/javascripts/splash.js" type="module" defer)

include utils.pug

block content
  body
    h1 Member The Milk
    div(id="everythingSplash")
      div(id="splashImage")
        img(src='https://cdn.discordapp.com/attachments/953443914138935366/954184989325545492/db88pnu-4723c541-cd38-4c52-b031-cbdd552578a8.png' id= 'splashPageImage') 
        


      div(id="theBox")
        div(id="welcomeBox")
          label(for="splashText" id="welcomeText") Welcome to Member the Milk! You are currently logged out!

      //script functionality has to be added with
      // onclick to redirect for both bubttons
      div(id="loginInfo")
        button(id="loginBtn") Log In
        button(id="signUpBtn") Sign Up