body {
  background-color: rgba(13, 94, 172);
  color: white;
  /* display: block; */
  /* display: flex; */
  /* flex-direction: row; */
  /* flex-direction: column; */
  /* justify-content: center; */
  /* margin: auto; */
  /* width: 50%; */
  /* border: 3px solid green; */
  /* padding: 10px; */
  /* align-items: center;  */
  /* vertical-align: middle; */
  /* border: 2px solid yellow; */
  text-align: center;
  align-items: center;
  display: flex;
  flex-direction: column;
  height: calc(100vh - var(--ntp-one-google-bar-height));
  min-width: fit-content;
  padding-top: var(--ntp-one-google-bar-height);
  position: relative;
  z-index: 1;
}

h1 {
  margin: auto;
  width: 50%;
  border: 3px solid green;
  padding: 10px;
}

p {
  margin: auto;
  width: 50%;
  border: 3px solid green;
  padding: 10px;
}