#loginBtn {
  box-sizing: border-box;
  font-size: 20px;
  color: black;
  padding-left: 45px;
  padding-right: 45px;
  padding-top: 10px;
  padding-bottom: 10px;
  border-color: black;
  border-radius: 5%;
  box-shadow: 2px 1px 1px gray;
  transition: border-color 1s;
  transition: color .5s;
}

h1 {
    color: white;
    font-size: 4rem;
    display: flex;
    align-items: center;
    justify-content: center;
}

#splashPageImage {
  /* background-size: 150px;
  width: 300px;
  height: 300px;
  border: 2px solid;
  color: pink; */
}

body{
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 100px;
  background-color: rgba(13, 94, 172);

  background-image: url(./ghibli-wallhaven.png);
	background-size: cover;
	background-repeat: no-repeat;
}

#welcomeText{
  color: white;
  font-size: 40px;
  padding: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 15px;
}

#welcomeBox{
  padding: 20px;
  border: solid white;
  margin: 20px;
  border-radius: 5px;
  box-shadow: 2px 1px 1px gray;
  width: 600px;
  height: 200px;
}

#loginBtn:hover {
  color: rgba(13, 94, 172);
  border-color: blue;
}

#signUpBtn:hover {
  color: rgba(13, 94, 172);
  border-color: blue;
}

#loginBtn {
	float: left;
	/* min-width: 150px;
	max-width: 250px; */
	/* display: block; */
	margin: 1em;
	padding: 1em 2em;
	border: white;
	background: white;
	color: inherit;
	/* vertical-align: middle; */
	/* position: relative; */
	z-index: 1;
}

#signUpBtn {
	float: left;
	/* min-width: 150px;
	max-width: 250px; */
	/* display: block; */
	margin: 1em;
	padding: 1em 2em;
	border: white;
	background: white;
	color: inherit;
	/* vertical-align: middle; */
	/* position: relative; */
	z-index: 1;
}

#loginBtn:focus {
	outline: none;
}

#loginBtn > span {
	vertical-align: middle;
}




#theBox{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#loginInfo{
  display: flex;
  flex-direction: center;
  justify-content: space-evenly;
}

#signUpBtn{
color: black;
  border-color: black;
  box-sizing: border-box;
  font-size: 20px;
  padding-left: 40px;
  padding-right: 40px;
  padding-top: 10px;
  padding-bottom: 10px;
  border-radius: 5%;
  box-shadow: 2px 1px 1px gray;
  transition: border-color 1s;
  transition: color .5s;

}
#signUpBtn:hover {
  color:blue;
  border-color: blue;
}

#splashImage{
  display: flex;
  flex-direction: center;
  justify-content: center;
}

h1 {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

